/*Whole Websites*/
body {
    background-color: #f8e6d0 ;
    color: #200816 ;
}

header {
    border-bottom: 2px solid #200816 ;
}
/*Home styling*/
/*Header styling*/
.logo {
    width: 40px;
    height: 32px;
}

.nav-link,
.nav-link:visited,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #200816;
}

header .nav-link {
    color: #200816 ;
    border-bottom: 2px solid transparent ;
    border-radius: 0 ;
}

header .nav-link:hover {
    color: #5a2a3d ;
    border-bottom-color: #5a2a3d ;
}

.nav-link.active {
    background-color: transparent; ;
    color: #200816 ;
    border-bottom-color: #200816 ;
}

.link-body-emphasis {
    color: #200816 ;
}

/*Hero styling*/
.btn-primary {
    background-color: #683a34;
    border-color: #683a34;
}

.btn-primary:hover {
    background-color: #5a2a3d;
    border-color: #5a2a3d;
}

/*Footer*/
.footer {
    background-image: 
        linear-gradient(rgba(32,8,22,.6), rgba(32,8,22,.6)),
        url(Images/footer-img.jpg);
    background-size: cover;
    background-position: center;

    color: #f8e6d0;

    padding: 80px 0;
}

.footer .nav-link {
    color: #f8e6d0;
    text-decoration: none;
}

.footer .nav-link:hover {
    color: #c08e70;
}